.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.table {
  max-width: 793px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 6px;
  padding: 0px 10px;
}
@media screen and (max-width: 1024px) {
  .table {
    max-width: 100%;
    padding: 0 40px;
  }
}

.invoice-title h5 {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  padding-bottom: 15px;
}

.left-side {
  float: left;
}
.left-side p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
  margin: 0;
  line-height: 20px;
}
.left-side h6 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
  margin: 0;
  line-height: 20px;
}

.right-side {
  float: right;
  padding: 20px 0 10px 0;
}
.right-side p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
  margin: 0;
  line-height: 20px;
}
.right-side span {
  font-weight: 500;
  padding-right: 15px;
  max-width: 100px;
  color: #878181;
  font-size: 17px;
}

.bottom-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}
.bottom-border td {
  padding: 10px 0;
}

.service-text {
  font-size: 16px;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
}

.alignment-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  border-bottom: 1px solid #757575;
}
.alignment-text:last-child {
  border: none;
}
.alignment-text:first-child {
  padding: 0;
}
.alignment-text span {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.final-bill {
  margin: 20px 0;
  border: 1px dashed #dbd1d1;
  padding: 10px;
  text-align: end;
}

.thanks-message {
  text-align: center;
}
.thanks-message p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  margin: 0;
  font-weight: 500;
  line-height: 22px;
}
.thanks-message span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  display: block;
  line-height: 20px;
}

.terms {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}
.terms p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  margin: 0;
  font-weight: 500;
  line-height: 22px;
}
.terms ul {
  margin: 3px 0 0 0;
}
.terms ul li {
  font-size: 12px;
  padding-bottom: 3px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 18px;
}

.invoice-img {
  width: 100px;
  height: 30px;
}
.invoice-img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.parlour-details h6 {
  font-size: 12px;
  margin: 0;
  line-height: 21px;
  font-weight: 600;
  color: #fff;
  padding: 0 0 8px 0;
}
.parlour-details h5 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 18px;
  font-weight: 500;
  margin: 0;
}
.parlour-details h5.nameAlignment {
  text-transform: uppercase;
}

.new-table-design {
  border: 1px solid #cfc6c6;
  border-bottom: none;
}
.new-table-design thead {
  background: rgba(217, 217, 217, 0.07);
}
.new-table-design tr td {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-weight: 400;
  padding: 8px;
  border-bottom: 1px solid #cfc6c6;
  border-right: 1px solid #cfc6c6;
}
.new-table-design tr td:last-child {
  border-right: none;
}
.new-table-design th {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-weight: 500;
  padding: 8px;
  border-bottom: 1px solid #cfc6c6;
}
.new-table-design tr,
.new-table-design th,
.new-table-design td {
  border-collapse: collapse;
}

.sec-child {
  padding: 0 0 0 8px;
}

@media screen and (max-width: 1024px) {
  .table {
    padding: 0;
    /* Adjust padding for smaller screens */
  }
}
.pdf-black-color {
  color: black !important; /* Override any existing color styles */
}

.error-message {
  padding: 6px 0 0 0;
}
.error-message p {
  font-size: 14px !important;
  line-height: 21px !important;
  color: red !important;
  text-align: left !important;
}

.loginWithGoogle {
  border: 1px solid rgba(255, 255, 255, 0.16);
  width: 150px;
  height: 50px;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 10px auto 0 auto;
  cursor: pointer;
  background: transparent;
}
.loginWithGoogle .loginIcon {
  width: 24px;
  height: 24px;
}
.loginWithGoogle .loginIcon img {
  width: 100%;
  height: 100%;
}
.loginWithGoogle p {
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: #fff;
}

.orAlignmnt p {
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}/*# sourceMappingURL=loginwithgoogle.module.css.map */